
@import url('/assets/css/font.css');



*{
    font-family: 'Noto Serif Khmer', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    min-height: 100vh;

    background: url('/assets/startic_img/blue-curve-background_53876-113112.avif');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
