


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    min-height: 100vh;

    background: url('https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
