
/* @import url('/assets/css/font.css'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khmer&display=swap'); */

/* Khmer */
@font-face {
    font-family: 'Noto Serif Khmer';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/Font/khmer.woff2') format('woff2');
    unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

/* Latin Extended */
@font-face {
    font-family: 'Noto Serif Khmer';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/Font/latinex.woff2') format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Latin */
@font-face {
    font-family: 'Noto Serif Khmer';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('/assets/Font/latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}












*{
    font-family: 'Noto Serif Khmer', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main{
    min-height: 100vh;

    background: url('/assets/startic_img/test.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.chart_control{
    width: 100px !important;
}
